body {
  font: 14px "Century Gothic", Futura, sans-serif;
  height: 100%;
  min-height: 90vh;
}

ol, ul {
  padding-left: 30px;
}

/*  */
.root{
  margin: 0 auto;
  width: 80vw;
  max-width: 500px;
  margin-top: 8vh;
}

.game{
}

/* boardのスタイル */
.board-row {
  display: flex;
  width: 50vw;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 10vw;
  max-width: 100px;
  height: 10vw;
  max-height: 100px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}


.game-board{
  height: 80%;
}

/* コマ */
.char-piece {
  width: 8vw;
  height: 8vw;
  max-width: 80px;
  max-height: 80px;
  background-size: contain;
}

.char-piece__dog{
  background-image: url("./img/dog.png");
}

.char-piece__cat{
  background-image: url("./img/cat.png");
}